<template name="review">
      {{#if currentUser}}
      {{#autoForm collection="Review" id="insertReview" type="insert"}}
        <fieldset>
          <legend>Add Comment</legend>
          {{> starsRating id='rating' size=25 mutable=true}}
          {{> afQuickField name='comment'}}
          {{> afQuickField name='restaurantId' value=restaurantId type="hidden"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Comment</button>
      {{/autoForm}}
      {{/if}}
      {{#if review}}
      <div id="menu" class="col s9">
         {{#each review}}
          <ul class="col s9">
            <li class="tab col s9"><b>{{createdAt}}</b>
             <p>{{comment}} by-<b>{{userName}}</b></p></li>
           </ul>
          {{/each}}
      </div>
      {{else}}
      <h5>
         <div class="para" style="font-family : verdana; color : red; font-size : 20px">
         <pre>
            There are no reviews yet. Please add one.
         </pre>
         </div>
      </h5>
      {{/if}}
</template>
