<template name="nav">
  <nav>
 <div class="nav-wrapper red">
      <a href="/" class="brand-logo">Delicious</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>{{>loginButtons}}</li>
        {{#if currentUser}}
        <li><a href="/insertRestaurant">Add Restaurant</a></li>
        <button class='dropdown-button btn' data-activates='orders' data-beloworigin="true">Orders</button>

<!-- Dropdown Structure -->
      <ul id='orders' class='dropdown-content'>
         <li><a href="/placedOrders">Placed Orders</a></li>
         <li><a href="/userOrders">Your Orders</a></li>
      </ul>
        {{/if}}
      </ul>
    </div>
  </nav>
</template>
