<template name="about">
       <div class="rowx">
           <div class="col s6 m4">
             <div class="card">
               <div class="card-image">
                  {{#if imageId}}
                  {{#with imgId}}
                        <img src="{{this.url}}" width="78" height="150">
                  {{/with}}
                  {{else}}
                     <img src="/images/sample-2.jpg" width="78" height="150">
                  {{/if}}

               </div>
            </div>
           </div>
       </div>
     <div class="rowx">
        <div class="col s3 m5">
           <div class="card">
             <h2>{{aboutRes.name}}</h2>
               <span>Description : {{aboutRes.description}}</span>
                  <h6>Address:</h6>{{aboutRes.address}}
             </div>
          </div>
        </div>
      <div class="rowx">
         <div class="col s3 m3">
            <div class="card">
              <h5>Timings</h5>
                <span>Description : {{aboutRes.description}}</span>
                   <h6>Address:</h6>{{aboutRes.address}}
              </div>
         </div>
       </div>
</template>
