<template name="editMenu">
   {{#if currentUser}}
<h3>Edit</h3>
{{#autoForm collection="Menu" id="updateMenu" type="update" doc=menu}}

<fieldset>
  <legend>Edit Menu</legend>
  {{> afQuickField name='category'}}
  {{> afQuickField name='item'}}
  {{> afQuickField name='flavour'}}
  {{> afQuickField name='price'}}
  {{> afQuickField name='restaurantId' value=restaurantId type="hidden"}}
</fieldset>
<button type="submit" class="btn btn-primary">Save</button>

  {{/autoForm}}
  {{else}}
  <h1>Sign in to continue</h1>
  {{/if}}
</template>
