<template name="home">
	<h1>Welcome to Delicious</h1>  {{> searchBox}}
{{#each restaurants}}
	<div class="row">
		<div class="divider"></div>
  <div class="section">
    <a href="/restaurantMenu/{{_id}}">
		 <div class="card-image" col s3 m3 >
		 {{#if imageId}}
		 {{#with imgId}}
				 <img src="{{this.url}}" width="135" height="85">
		 {{/with}}
		 {{else}}
			 <img src="/images/sample-2.jpg" width="135" height="85">
		 {{/if}}
	 </div>
</a></div>
    <p><div class="content" col s8 m8>
 		<a href="/restaurantMenu/{{_id}}"><h5>{{name}}</h5></a>
 		<span>{{location}}</span>
 		<p><h6>Contact Number:</h6>{{phoneNumber}}</p>
 		<p><h6>Address:</h6>{{address}}</p>

 		{{#if isOwner}}
 		<a href="/insertMenu/{{_id}}" rid="{{_id}}" class="btn" id="menu-action">Add Menu</a>
 		{{else}}
 		<a href="/restaurantMenu/{{_id}}" rid="{{_id}}" class="btn" id="menu-action">Go to Menu</a>
 		{{/if}}
 	</div></p>
  </div>
{{/each}}
</template>
