<template name="menu">
   {{#each menu}}
   <ul class="col s8">
      <li class="tab col s3">{{category}}</li>
      <li class="tab col s2">{{item}}</li>
      <li class="tab col s2">{{flavour}}</li>
      <li class="tab col s1">{{price}}</li>
      {{#if isOwner}}
      <a href="/editMenu/{{_id}}"><button class='button' pid="{{_id}}" id="edit-button">Edit</button></a>
      {{else}}
      <button class='button' pid="{{_id}}" id="add-button">+</button>
      {{/if}}
   </ul>
   {{/each}}
</template>
