<template name="restaurantMenu">
 <div class="row">
    <div class="col s9">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#menu">Menu</a></li>
        <li class="tab col s3"><a href="#reviews">Reviews</a></li>
        <li class="tab col s3"><a href="#info">Info</a></li>
     </ul>
    </div>
       <div id="menu" class="col s9">
          {{#each menu}}
           <ul class="col s9">
             <li class="tab col s3">{{category}}</li>
             <li class="tab col s3">{{item}}</li>
             <li class="tab col s2">{{flavour}}</li>
             <li class="tab col s1">{{price}}</li>
             <button class='button' pid="{{_id}}" id="add-button">+</button>
           </ul>
           {{/each}}
       </div>
       <div id="reviews" class="col s9">
          {{> review}}
       </div>
       <div id="info" class="col s9">
         {{> info}}
       </div>
       <div id="order" class="col s3">
      <h4>Orders</h4>
         {{#each order}}
         <form>
            <div>
                  <input type="number" name="quantity" id="quantity" style="width : 35px; height : 30px" value="{{quantity}}">
            </div>
         </form>
         {{oFlavour}}{{oItem}} {{oPrice}}/-
            {{subtotal}}
         {{/each}}
         <button id="prc-to-chk" class="button" pid="{{_id}}">Proceed to checkout</button>
      </div>
  </div>
</template>
