<template name="insertMenu">
   {{> restaurantHead}}
   <div class="col s9">
   {{> menu}}
  {{#if currentUser}}
  {{#autoForm collection="Menu" id="insertMenu" type="insert"}}
    <fieldset>
      <legend>Add Menu</legend>
      {{> afQuickField name='category'}}
      {{> afQuickField name='item'}}
      {{> afQuickField name='flavour'}}
      {{> afQuickField name='price'}}
      {{> afQuickField name='restaurantId' value=restaurantId type="hidden"}}
      <button type="submit" class="btn btn-primary">Save</button>
    </fieldset>

  {{/autoForm}}
  {{/if}}
  </div>
</template>
