<template name="menu">
   {{#if menu}}
   {{#each menu}}
   <ul class="col s8">
      <li class="tab col s3">{{category}}</li>
      <li class="tab col s2">{{item}}</li>
      <li class="tab col s2">{{flavour}}</li>
      <li class="tab col s1">{{price}}</li>
      {{#if isOwner}}
      <a href="/editMenu/{{_id}}"><button class='button' pid="{{_id}}" id="edit-button">Edit</button></a>
      {{else}}
      <button class='button' pid="{{_id}}" id="add-button">+</button>
      {{/if}}
   </ul>
   {{/each}}
   {{else}}
   {{#if isOwner}}
   <h5><a href="/insertMenu/{{restaurantId}}">Its Empty here... Please add some items now</a></h5>
   {{else}}
   <h5><div class="para" style="font-family : verdana; color : red">
      Thank you for your interest.
          Menu will be updated soon. Thank You.
   </div>  </h5>
   {{/if}}
   {{/if}}
</template>
